@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter.ttc') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: inter;
}
h1{
    color: blue;
    size: 100px;
}
.percentageButtons{
    border-radius: 10%;
    border: none;
    width: 100px;
    font-size: 20px;
}
.padding1{
    border: solid 1px red;
    top: 100px;
}
.billPadding{
    border: solid 1px blue;
    justify-content: center;
    display:flex;
}
.bill{
    width:900px;
    height: 100px;
     border: none;
    border-radius: 25px;
    background-color: rgb(230, 230, 230);
    align-content: center;
    font-size: 100px;
    
}